/* Контейнер */
.login-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: #222;
}

/* Блок форми */
.login-box {
    background: #1b1b1b;
    border: 1px solid #0f0;
    border-radius: 12px;
    padding: 40px 50px;
    width: 380px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.2);
    text-align: center;
}

/* Заголовок */
.login-box h2 {
    color: #0f0;
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Поля вводу */
.login-input {
    text-align: left;
    margin-bottom: 25px;
}

.login-input label {
    color: #aaffaa;
    font-size: 1.1rem;
    display: block;
    margin-bottom: 8px;
}

.login-input input {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #0f0;
    border-radius: 6px;
    background: #111;
    color: #e0ffe0;
    font-size: 1rem;
    transition: 0.3s;
}

.login-input input:focus {
    outline: none;
    border-color: #00ff00;
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.5);
}

/* Кнопка */
.login-btn {
    width: 100%;
    background: #03ad03;
    color: #111;
    border: none;
    padding: 14px 0;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.login-btn:hover {
    background: #111;
    color: #0f0;
    border: 1px solid #0f0;
}

/* Посилання на реєстрацію */
.register-link {
    margin-top: 20px;
    font-size: 1rem;
    color: #e0ffe0;
}

.register-link a {
    color: #0f0;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
.errorlist {
    color: #ff8080;
    margin-bottom: 10px;
    list-style: none;
    text-align: left;
    padding-left: 0;
}

